<html>
<head>
  <title>iCatcher feeds</title>
  <link rel="icon" type="image/png" href="/resources/icatcher_icon_16.png" />
</head>
<body>
<% @dirs.each do |d| %>
  <p><a href="/feeds/<%= File.basename(d) %>.xml"><%= File.basename(d) %></a></p>
<% end %>

<div>
  <p>Bookmarklet</p>
  <a id="bookmarklet"
onclick="window.alert('Drag this link to your bookmarks toolbar...');return false;"
href="javascript:document.location='http://localhost:8010/instant-download?url='+encodeURIComponent(document.location.href)">
    <span>iCatcher bookmarklet</span>
  </a>
</div>

</body>
</html>
