<div id="main" class="grid_8 alpha">

  <article class="post">
        
      <a href="#"><img src="images/icatcher_logo_200.png" alt="" class="thumbnail alignleft" /></a>
      
      <p>
        iCatcher is a small, discreet app for Mac OS X which helps fetch content published to the BBC iPlayer website, and automatically push this to your iPhone or iPod Touch. 
      </p>
      
      <p>
        It does this by allowing you to set up a number of searches, say on a programme name or a category, and then any programme matching your criteria is automatically downloaded, and converted into a podcast stream for you to subscribe to in iTunes.
      </p>
      
      <p>
        You can also drag iPlayer URLs directly into the iCatcher menu bar icon to download that piece of content without needing to set up a search match.</p>
      
      <h3>Header level 3</h3>
      
      <ol>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
          <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>
      
      <blockquote>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. 
              Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, 
              at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
          </p>
      </blockquote>
      
      <h3>Header Level 3</h3>
      
      <ul>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
          <li>Aliquam tincidunt mauris eu risus.</li>
      </ul>
      
      <pre>#header h1 a {
      display: block;
      width: 300px;
      height: 80px;
      }</pre>
      
      <div class="clear"></div>  
  
  </article> <!-- end .post -->

</div> <!-- end main -->

